h1 {
    text-align: center;
    color: cornflowerblue;
  }
body{
    background-color: burlywood;
}  

img{
    display: block;
    width:300px;
    height:300px;
    margin:auto;
 }

 .center-me{
    text-align: center;
 }

 button{
    text-align: center;
    margin: auto;
    display: block;
 }